.homePageContainer {
  padding: 0 64px 32px 64px;
}

.heroContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.textContainer {
  width: 720px;
  height: 530px;
  padding-left: 64px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--color-light-gray);
}

.heroTitle {
  max-width: 548px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 32px;
}

.highlighted {
  background-color: var(--color-primary-light);
  font-style: italic;
  font-weight: 400;
  padding: 0 6px;
  border-radius: 6px;
}

.description {
  max-width: 471px;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: -0.02em;
  color: var(--color-text);
  margin-bottom: 64px;
}

.getStartBtn {
  border-radius: 12px;
  padding: 16px 88px;
  background: var(--color-primary);
  font-size: 18px;
  line-height: 1.56;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-text);
  transition: all 250ms ease-in-out;
}

.getStartBtn:hover,
.getStartBtn:focus {
  background: var(--color-primary-light);
}

.imageContainer {
  position: relative;
  width: 568px;
  height: 530px;
  border-radius: 30px;
  background: var(--color-primary-light);
}

.girlImage {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 339px;
  height: 339px;
  transform: translateX(-50%);
}

.macImage {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 391px;
  transform: translateX(-50%);
}

.advantagesList {
  max-width: 1312px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
  padding: 40px 0;
  border: 1.5px dashed var(--color-primary);
  border-radius: 30px;
}

.advantagesItems {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.quantity {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--color-text);
}

.listDescription {
  max-width: 96px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
